body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc765;
}

/* envelope */

#card {
  width: 0;
  height: 0;
  border-top: 100px solid #63c2e2;
  border-right: 170px solid #c1e1ec;
  border-bottom: 100px solid #63c2e2;
  border-left: 170px solid #c1e1ec;
  box-shadow: 10px 10px 5px #f7b23c;
  position: relative;
}

/* main heart */

.heart {
  width: 32px;
  height: 32px;
  background-color: #ff1414;
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: heartbeat 1.4s infinite;
}

/* heart shape */

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff1414;
  border-radius: 50%;
}

.heart:before {
  transform: translateY(-50%);
}

.heart:after {
  transform: translateX(-50%);
}

/* heartbeat animation */

@keyframes heartbeat {
  0% { transform: translate(-50%, -50%) rotate(45deg) scale(1); }
  30% { transform: translate(-50%, -50%) rotate(45deg) scale(1.4); }
  50% { transform: translate(-50%, -50%) rotate(45deg) scale(1.2); }
  70% { transform: translate(-50%, -50%) rotate(45deg) scale(1.4); }
  100% { transform: translate(-50%, -50%) rotate(45deg) scale(1); }
}

/* floating hearts */

.heart1, .heart2, .heart3, .heart4 {
  width: 32px;
  height: 32px;
  background-color: #ff1414;
  position: absolute;
  transform: rotate(45deg);
}

.heart1 { animation: heart1 2.5s ease-out infinite; }
.heart2 { animation: heart2 4s ease-out infinite; }
.heart3 { animation: heart3 2s ease-out infinite; }
.heart4 { animation: heart4 2.3s ease-out infinite; }

@keyframes heart1 {
  from { transform: translateY(-200%) scale(0.25) rotate(45deg); opacity: 1; }
  to { transform: translateY(-400%) scale(1) rotate(50deg); opacity: 0; }
}

@keyframes heart2 {
  from { transform: translateY(-300%) translateX(-100%) scale(0.25) rotate(-20deg); opacity: 0.2; }
  to { transform: translateY(-500%) translateX(-10%) scale(1) rotate(45deg); opacity: 0; }
}

@keyframes heart3 {
  from { transform: translateY(-430%) translateX(-100%) scale(0.25) rotate(20deg); opacity: 0.2; }
  to { transform: translateY(-650%) translateX(-10%) scale(1) rotate(60deg); opacity: 0; }
}

@keyframes heart4 {
  from { transform: translateY(-450%) translateX(-100%) scale(0.25) rotate(45deg); opacity: 0.2; }
  to { transform: translateY(-750%) translateX(-10%) scale(1) rotate(80deg); opacity: 0; }
}

/* text */

.text {
  position: absolute;
  bottom: 16%;
  margin: 10px;
}

p {
  font-size: 25px;
  color: #292727;
}
